<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_view.css') }}">
</head>
<body>
    <div class="container bg-dark text-light mt-5">
        <div class="navbar"> 
            <h1 id="top">Edit {{deck.name}}!</h1>
            <a href="/dashboard" class="text-primary">back to decks</a>
            <form action="/logout" method="POST">
              <button class="btn btn-primary">Logout</button>
            </form>
        </div>


            <form action="/deck/{{deck.id}}/update" method="POST" class="p-1"> 
              <label for="name" class="me-2">Name</label>
              <input type="text" name="name" id="name" value="{{deck.name}}"/>
              <button class="ms-2">Save</button>
              {% for message in get_flashed_messages(category_filter=['err_decks_name']) %}
              <p class= "err-msg text-danger"> {{message}}</p>
              {% endfor %}
            </form> 
        
            
          <form action="/addcard/{{deck.id}}/update" method="POST" class="mb-3 p-1">
            <label for="name">Card to add</label>
            <input type="text" name="name" autofocus>
            <button>Add Card</button>
            {% for message in get_flashed_messages(category_filter=['err_all_cards_name']) %}
            <p class= "err-msg text-danger"> {{message}}</p>
            {% endfor %}
          </form>

          <h5>Cards in deck: {{type_checking['creature_count'] + type_checking['sorcery_count'] + type_checking['instant_count'] + type_checking['artifact_count'] + type_checking['enchantment_count'] + type_checking['land_count']}}</h5>

          <div class="border border-dark">

            {% if type_checking['Creature'] %} 
            <p id="creatures">Creatures ({{type_checking['creature_count']}}):</p>
            <div class="d-flex flex-wrap text-center"> 
            {% for stuff in info  %}
            {% if stuff.types == "Creature" %}
            <div class="flex-column d-flex">
            <img src="{{stuff['img_url']}}" alt="" class="rounded custom-modal-image rounded"> 
              <a href="/card/{{stuff.id}}/delete" class="btn btn-danger mt-1 mb-1 ms-5 me-5">Delete</a>
          </div>
            {% endif %}
            {% endfor %}
          </div>
            {% endif %}
  
            {% if type_checking['Sorcery'] %} 
            <p id="sorceries">Sorceries ({{type_checking['sorcery_count']}}):</p>
            <div class="d-flex flex-wrap text-center"> 
            {% for stuff in info  %}
            {% if stuff.types == "Sorcery" %}
            <div class="flex-column d-flex">
              <img src="{{stuff['img_url']}}" alt="" class="rounded custom-modal-image rounded">
              <a href="/card/{{stuff.id}}/delete" class="btn btn-danger mt-1 mb-1 ms-5 me-5">Delete</a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
            {% endif %}
  
  
              {% if type_checking['Instant'] %}
              <p id="instants">Instants ({{type_checking['instant_count']}}):</p>
              <div class="d-flex flex-wrap text-center"> 
              {% for stuff in info  %}
              {% if stuff.types == "Instant" %}
              <div class="flex-column d-flex">
                <img src="{{stuff['img_url']}}" alt="" class="rounded custom-modal-image rounded">
                <a href="/card/{{stuff.id}}/delete" class="btn btn-danger mt-1 mb-1 ms-5 me-5">Delete</a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
              {% endif %}
              
              {% if type_checking['Artifact'] %}
              <p id="artifacts">Artifacts ({{type_checking['artifact_count']}}):</p>
              <div class="d-flex flex-wrap text-center"> 
              {% for stuff in info  %}
              {% if stuff.types == "Artifact" %}
              <div class="flex-column d-flex">
                <img src="{{stuff['img_url']}}" alt="" class="rounded custom-modal-image rounded">
                <a href="/card/{{stuff.id}}/delete" class="btn btn-danger mt-1 mb-1 ms-5 me-5">Delete</a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
              {% endif %}
  
              {% if type_checking['Enchantment'] %}
              <p id="enchantments">Enchantments ({{type_checking['enchantment_count']}}):</p>
              <div class="d-flex flex-wrap text-center"> 
              {% for stuff in info  %}
              {% if stuff.types == "Enchantment" %}
              <div class="flex-column d-flex">
                <img src="{{stuff['img_url']}}" alt="" class="rounded custom-modal-image rounded">
                <a href="/card/{{stuff.id}}/delete" class="btn btn-danger mt-1 mb-1 ms-5 me-5">Delete</a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
              {% endif %}
  
              {% if type_checking['Land'] %}
              <p id="lands">Lands ({{type_checking['land_count']}}):</p>
              <div class="d-flex flex-wrap text-center"> 
              {% for stuff in info  %}
              {% if stuff.types == "Land" %}
              <div class="flex-column d-flex">
                <img src="{{stuff['img_url']}}" alt="" class="rounded custom-modal-image rounded">
                <a href="/card/{{stuff.id}}/delete" class="btn btn-danger mt-1 mb-1 ms-5 me-5">Delete</a>
              </div>
              {% endif %}
              {% endfor %}
            </div>
              {% endif %}
          </div>

          <!-- Custom Modal -->
      <div id="customImageModal" class="custom-modal">
        <span class="custom-close" id="customCloseModal">&times;</span>
        <img id="customModalImage" class="custom-modal-content" />
      </div>
    </div>


  <div class="container-fluid">
      <div class="row">
          <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
              <div class="position-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="/dashboard"> Home </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#top"> Back to Top </a>
                      <li class="nav-item">
                        <a class="nav-link" href="#creatures"> Creatures </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#sorceries">
                              Sorceries
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#instants">
                              Instants
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#artifacts">
                              Artifacts
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#enchantments">
                              Enchantments
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#lands">
                              Lands
                          </a>
                      </li>
                      <!-- Add more items as needed -->
                  </ul>
              </div>
          </nav>
      </div>
  </div>


        </div>

    
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>