<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landing_page.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-secondary text-black">
    <img id="mtg-icon" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fvectorified.com%2Fimage%2Fmagic-the-gathering-vector-26.png&f=1&nofb=1&ipt=382c8ce59f6c0f5a8e94d75b7147d34a112ef38ae862fc1808975ced985e9ee9&ipo=images" alt="">
    <div class="landing-container container text-center mt-5 bg-secondary h-25">
      <div class="d-flex"> 
      <img src="{{ url_for('static', filename='assets/card.png') }}" alt="card icon" id="website-icon" class="me-5">
      <div class="header me-5"> 
          <h1>Welcome to MTGDeckBuilder</h1>
          <p>Build Your Perfect Deck. Sign in or Register to get started!</p>
          <a href="/login/register" class="btn btn-primary">Sign In / Register</a>
        </div>
        </div>
      <div class="features">
        <div class="feature">
          <i class="fas fa-users"></i>
          <h2>Join the Community</h2>
          <p>Connect with fellow deck builders and enthusiasts.</p>
        </div>
        <div class="feature">
          <i class="fas fa-cogs"></i>
          <h2>Create Decks</h2>
          <p>Build, customize, and share your perfect deck designs.</p>
        </div>
        <div class="feature">
          <i class="fas fa-star"></i>
          <h2>Discover Favorites</h2>
          <p>Explore top-rated decks created by the community.</p>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="stylesheet"
      href="{{ url_for('static', filename='js/script.js') }}"
    ></script>
  </body>
</html>
