* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: slategray;
}

/* Custom Modal styles */
/* Custom Modal styles */
/* Custom Modal styles */
/* Custom Modal styles */
.custom-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 60%;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 20%;
  left: 20%;
}

.custom-close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Center the modal content */
.custom-center-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Make the custom modal responsive */
@media (max-width: 768px) {
  .custom-modal-content {
    width: 80%;
  }
}

body {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F0%2Fe%2F8%2F336833.jpg&f=1&nofb=1&ipt=bdc8712c863658194baf8e96efb7789a8655fdd19ad01d0fc8e6fd420d644e23&ipo=images");
  background-repeat: no-repeat;
  background-size: cover;
}