*{
    margin: 0px;
    padding: 0px;
}


body {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F0%2Fe%2F8%2F336833.jpg&f=1&nofb=1&ipt=bdc8712c863658194baf8e96efb7789a8655fdd19ad01d0fc8e6fd420d644e23&ipo=images");
    background-repeat: no-repeat;
    background-size: cover;
}